.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

body {

}

h1 {
font-family: 'Open Sans Condensed', sans-serif;
}

h2 {

}

ul {

}

li {

}

nav {
  
}
