@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper {
  background-image: url("home_background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.hero-content {
  font-family: 'Maitree', serif;
  font-size: .90em;
  text-align: center;
  top: 250px;
  position: fixed;
}

.learn-more {
  position: relative;
  margin: 160px;
  justify-content: center;
  font-size: 1em;
}

.fa {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  background-size: 20px;
  justify-content: center;
}
