@import "font-awesome-sprockets";
@import "font-awesome";

#wrapper {
  display: block;
}

#fullscreen-hero {
  background-image: url("home_background.jpg");
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-size: cover;
}

body {
  margin: 0;
}

.hero-container {
  padding: 0 40px;
}

.hero-content {
  padding-top: 360px;
  // top: 300px;
  font-family: 'Maitree', serif;
  font-size: .85em;
  // position: fixed;
  text-align: center;
}

.learn-more {
  padding: 20px;
  margin: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.fa {
  padding-bottom: 20px;
  background-size: 20px;
}

#me {
  background-color: white;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
}

#work {
  background-color: FloralWhite;
}
