<!DOCTYPE html>
<html>
  <head>
    <title>Vanessa Dohnt</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Codystar|Dynalight|Maitree|Romanesco|Stint+Ultra+Expanded" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
