<h2>Contact</h2>

<form action="/contact">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="">First Name</label>
  <input type="text" name="first">

  <label for="">Last Name</label>
  <input type="text" name="last">

  <label for="">Email</label>
  <input type="text">

  <label for="">Enquiry</label>
  <textarea name="name" rows="8" cols="80"></textarea>
  
  <button>Submit</button>

</form>
