<div id="wrapper">
  <!-- Start Hero Section Here -->
  <div id="fullscreen-hero" class="home-hero">
    <div class="hero-container">
      <div class="hero-content">
        <h1>Hello, my name is Ness. I am a Designer / Front-End Developer living in Melbourne, Australia.</h1>
          <div class="learn-more">Learn more about what I do <br>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
        </div>
    </div>
  </div>
  <!-- Start Expertise Section Here -->
  <section id="me">
    <div class="container">
      <div class="row">
        <div class="eight.columns.offset-by-two">
          <p class="intro.slate">My Expertise</p>
            <i class="fa fa-diamond" aria-hidden="true"></i>
            <p class="statement">I'm passionate about all phases of the design process.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Work Experience Section Here -->
  <div id="work">
    <div class="container">
      <div class="row">
        <div class="twelve.columns">
          <p class="intro.slate">Work</p>
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          <p class="statement">Want to see more examples? Email me.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Personal Projects Section Here -->
  <div id="personal-projects">
    <p>Personal Projects</p>
    <i class="fa fa-coffee" aria-hidden="true"></i>
  </div>
  <section id="sub-footer">
    <p>Want to work together?</p>
  </section>
  <footer class="footer">
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    <p id="copyright">codesprite&copy; 2017</p>
  </footer>
</div>
