<div id="wrapper">
  <!-- Start Hero Section Here -->
  <div id="fullscreen-hero" class="home-hero">
    <div class="hero-container">
      <div class="hero-content">
        <h1>Hello, my name is Ness. I am a Designer / Front-End Developer living in Melbourne, Australia.</h1>
          <div class="learn-more">Learn more about what I do <br>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
        </div>
    </div>
  </div>
  <!-- Start Expertise Section Here -->
  <section id="me">
    <div class="container">
      <div class="row">
        <div class="eight.columns.offset-by-two">
          <p class="intro.slate">My Expertise</p>
          <p class="statement">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Work Experience Section Here -->
  <div id="work">
    <div class="container">
      <div class="row">
        <div class="twelve.columns">
          <p class="intro.slate">Work</p>
          <p class="statement">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
