<div class="wrapper">
  <div class="hero-container">
    <div class="hero-content">
      <h1>Hello, my name is Ness. I am a Designer / Front-End Developer living in Melbourne, Australia.</h1>

      <div class="learn-more">Learn more about what I do</div>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
</div>
