/*@import "font-awesome-sprockets";
@import "font-awesome";*/

body {
  font-family: 'Saira', sans-serif;
  height: 100vh;
  /*position: relative;*/
  text-align: center;
  /*// width: 100%;*/
  min-height: 350px;
  background-size: cover;
  background-color: #39CCCC;
  color: white;
}


p {
  color: white;
}

input {
  text-align: center;
  border: none;
  height: 2.7em;
  width: 50%;
  font-size: 1em;
}

button {
  font-family: 'Saira', sans-serif;
  border: none;
  background-color: white;
  font-size: 1em;
}
