.container {
  border: 1px solid pink;
  width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

/*.container > * {
  display: inline-block;
}
*/
main {
  border: 1px solid lime;
  vertical-align: top;
  width: 70%;
  float: left;

}

aside {
  border: 1px solid blue;
  vertical-align: top;
  width: 28%;
  float: left;
}

img {
  float: left;
  width: 100%;
}
