header {
  background-image: url(../images/background.jpg);
  background-repeat: repeat-x;
  margin: 0;
  height: 200px;

}

body {
  margin: 0;
  text-align: center;
  background-color: grey;
}

article {
  float: left;
  padding: 50px;
  text-align: justify;

}

section {
  background-color: white;
}
